body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* background: #fac7c2;*/
  background: rgb(243, 243, 243);
  max-width: 1600px;
}

.descr{
  display: block;
  width: 40%;
}


.content-wrapper{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  /* justify-content: center; */
  justify-content: center;
}

.mobFacts-wrapper{
  position: relative;
  height: 350px;
  width: 350px;
  margin:auto;
}

#mobFacts-container
{
  position: absolute;
  top: 0;
  left: 0;
  height:inherit;
  width: inherit;
}

.selector-wrapper {
  position: relative;
  height: 500px;
  width: 500px;
  margin: auto;
  margin:auto;
}


#selector-container
 {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
}


.selector-drop
{
  display: block;
  width: 490px;
  height: 490px;
  background: white;
  border-radius: 45% 55% 54% 46% / 55% 48% 52% 45%; 
} 

.selector-drop2
{
  position: absolute;
  top: -10px;
  left: -30px;
  z-index: -1;
  width: 600px;
  height: 600px;
  border-width: 30px;
  border-color:  rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 45% 55% 54% 46% / 55% 48% 52% 45%; 
}


.statsDiagram-wrapper{
  position: relative;
  height: 500px;
  width: 500px;
  margin:auto;
}

.statsDiagram-drop
{
  display: block;
  width: 475px;
  height: 475px;
  background: white;
  border-radius: 45% 55% 44% 56% / 55% 48% 52% 45%; 
} 

#statsDiagram-container
{
  position: absolute;
  top: 0;
  right: 0;
  height: inherit;
  width: inherit;
}

.propsDiagram-wrapper{
  position: relative;
  height: 500px;
  width: 500px;
  margin:auto;
  /* margin: -5% auto auto 5%; */
}

.propsDiagram-drop
{
  left: 0;
  top: 0;
  display: block;
  width: 500px;
  height: 475px;
  background: white;
  border-radius: 35% 65% 45% 55% / 45% 38% 62% 55%; 
  box-shadow: inset 0px -20px 100px rgba(255, 255, 255, 0.6);
} 

#propsDiagram-container
 {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
}

.damageDiagram-wrapper{
  position: relative;
  height: 500px;
  width: 500px;
  margin: -2% auto auto -15%;
}


#damageDiagram-container
 {
  position: absolute;
  top: 0;
  left: 0;
  /* border: 1px solid gray; */
  height: inherit;
  width: inherit;
}

.damageDiagram-drop
{
  display: block;
  width: 500px;
  height: 500px;
  background: white;
  border-radius: 65% 35% 36% 64% / 55% 52% 48% 45%;
} 

#distDiagram-container
 {
  visibility: hidden;
  height: 500px;
  width: 500px;
}

@media(max-width: 1300px){
  .damageDiagram-wrapper{
    margin: auto;
  }

}