
	#selector_svg {
		/* write only numbers - to be parsed in d3 */
    height: 500px;
    width: 500px;
    border: 1px solid gray;
  }
	#statsDia_svg {
		/* write only numbers - to be parsed in d3 */
		height: 500px;
		width: 500px;
		border: 1px solid gray;


	.isClicked {
		filter: brightness(50%);
	}

	path.isClicked{
		stroke: none;
		filter: brightness(50%);
	}

	.isHovered circle, .isHovered line{
		filter: brightness(80%);
		color:hsl(240,65%,75%);
	}
	path.isHovered{
		stroke: none;
		filter: brightness(80%);
	}


	.Angeling{
		fill : "#d4d8d8";
	}

	.Poring{
		fill: "#fa978e";
	}

	.Poporing{
		fill: "#c8db93";
	}

	.Marin{
		fill: "#b0a7c1";
	}

	.Magmaring{
		fill: "#f58658";
	}

	.Drops{
		fill: "#eac699";
	}

	.Metaling{
		fill: "#c3d7e3";
	}
